trunk/Tareas/Web References/TareasServices/Backup.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="EstadoBackup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EstadoBackupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EstadoBackupResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EstadoBackupSoapIn">
    <wsdl:part name="parameters" element="tns:EstadoBackup" />
  </wsdl:message>
  <wsdl:message name="EstadoBackupSoapOut">
    <wsdl:part name="parameters" element="tns:EstadoBackupResponse" />
  </wsdl:message>
  <wsdl:portType name="BackupSoap">
    <wsdl:operation name="EstadoBackup">
      <wsdl:input message="tns:EstadoBackupSoapIn" />
      <wsdl:output message="tns:EstadoBackupSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BackupSoap" type="tns:BackupSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EstadoBackup">
      <soap:operation soapAction="http://tempuri.org/EstadoBackup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BackupSoap12" type="tns:BackupSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EstadoBackup">
      <soap12:operation soapAction="http://tempuri.org/EstadoBackup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Backup">
    <wsdl:port name="BackupSoap" binding="tns:BackupSoap">
      <soap:address location="http://localhost:3579/Backup.asmx" />
    </wsdl:port>
    <wsdl:port name="BackupSoap12" binding="tns:BackupSoap12">
      <soap12:address location="http://localhost:3579/Backup.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>